.container
{
    padding-top: 20px;
    display: flex;
    column-gap: 7px;
}

.training_card
{
    /* display: flex; */
    flex: 1;
    border: 1px solid gray;
    /* padding: 5px; */
    background-color: rgb(246, 251, 251);
}

.content_card
{
    /* border: 1px solid gray; */
    background-color: rgb(246, 251, 251);
    padding: 10px;
    width: 100%;
    min-height: 300px;
    /* min-width: 150px; */
    /* flex: 1; */
}

.editor_card
{
    border-left: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    min-width: 250px;
    row-gap: 15px;
    background-color: azure;
    /* flex: 1; */
}

.container div
{
    /* border: 1px solid black; */
}

button
{
    background: transparent;
    margin-left: 40px;
    /* float: right; */
}

@media only screen and (max-width: 900px) 
{
    .container
    {
        padding: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .editor_card
    {
        padding: 10px;
        /* min-width: 300px; */
        width: 90%;
    }
}
